# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore virtual environments
env/
venv/

# Ignore large/raw data files if needed
*.csv
*.xlsx
*.zip
*.json
